@keyframes donut-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body{
    background-color: #25241E;
}

.donut-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.donut {
    height: 40px;
    width: 40px;
    position: relative;
    border: 5px solid rgba(0,0,0,0.3);
    border-left-color: #7983ff;
    border-radius: 50%;
    animation: donut-spin .8s linear infinite;
}